body {
  direction: center;
  background-color: rgb(146, 215, 233);
}
section {
  text-align: center;
}
.mydiv-user {
  background-color: rgb(151, 148, 148);
}
.mydiv-tass {
  background-color: rgb(138, 132, 132);
}
